<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Bot Dashboard BY Kaan">
        <meta name="title" content="Bot İsmi - Kullanıcısı">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://cdn.discordapp.com/emojis/851798404057399316.png?v=1" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="public/style.css">
    <link rel="stylesheet" href="public/gerekli.css">
 


</head>
  <body class="bg-dark text-white">  
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #23272a;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
                       <div class="ccc">
           <a class="nav-link" href="/"><i class="fas fa-home"></i> Ana Sayfa</a>
<div/>

                      
		 <ul class="submenu dropdown-menu animate slideIn" data-toggle="dropdown">
              <a class="nav-link" href="/stats"></i>Bot İstatistik</a>
<div/>
  	 </ul>
	  </li>         
 
        </ul>
    </div>
<a class="nav-link" href="/stats"></i>Bot İstatistik</a>
<a class="nav-link" href="/profil"></i>Profil</a>

<div/>

     <% if (member) { %>
<li class="nav-link"><a class="nav-link" href="/profil"> <%= member.username %>#<%= member.discriminator %></a></li>
<li class="nav-link"><a class="nav-link" href="/auth/logout"> Çıkış Yap</a></li>
          <% } else { %>
            <li class="nav-link"><a href="/login" class="nav-link">Giriş Yap</a></li>
          <% } %>

      </div>
    </nav>
<br/>
<br/>
<br />
<br />
<br />
 <!-- Features -->
    <div id='features' class='features'>
        <div class='container grid'>
            <div>
             <h3>yaz buralara istediğini</h3>
                <p>NOT BURALARI KENDİN DOLDUR! EQWEWQEWQEWQEQWEWQEWQEWQEWQEWQEQWEQW</p>
                <div class="blank"></div>
            </div>
        </div>
    </div>

    <div class="wrapper" style="padding: 35px;"></div>
    <div class='features'>
        <div class='container grid'>
            <img class='desktop' src='image/mod.png' alt=''>
            <div>
                <h3>yaz buralara istediğini</h3>
                <p>NOT BURALARI KENDİN DOLDUR! EQWEWQEWQEWQEQWEWQEWQEWQEWQEWQEQWEQW</p>
            </div>
        </div>
    </div>



    <div class="wrapper" style="padding: 35px;"></div>
    <div class='features'>
        <div class='container grid'>
            <img class='desktop' src='image/mod.png' alt=''>
            <div>
                <h3>yaz buralara istediğini</h3>
                <p>NOT BURALARI KENDİN DOLDUR! EQWEWQEWQEWQEQWEWQEWQEWQEWQEWQEQWEQW</p>
            </div>
        </div>
    </div>

    <div class="wrapper" style="padding: 35px;"></div>
    
    