
<title> Ana Sayfa</title>
<br><br>

<main class="text-center text-light" style="display: flex;min-height: calc(100vh - 188px);align-items: center; justify-content: center">
        <div>
          		<img class="sunucusresmi" height="200" width="200" src="">
                <h1 style="font-weight: bold; color: #7289d8;">Bot İsmi</h1>
                <br>
        </div>
  <div class="wave wave1"></div>
</main>

